<div class="container">
 
  <!--<input class="form-control mb-5" type="file" accept=".csv" class="upload" id="input" change="changeListener($event:any)">-->
  

  <input class="form-control mb-5" type="file" accept=".csv" class="upload" id="input" (change)="fileChanged($event)">

<br>

  <table class="table table-dark">
    <thead>
      <tr>
        <th *ngFor="let item of lines[0]; let i = index">{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of linesR[0]; let i = index">
        <td *ngFor="let itemm of lines[0]; let j = index">{{item[j]}}</td>
        
      </tr>
    </tbody>
  </table>
</div>